*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}
.navbar{
    height: 10%;  
    width: 100%; 
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(233, 225, 225);
}
.navbar img{
    width: 113px!important;
    height: 39px;
    margin-bottom: 5px!important;
    margin-top: 8px!important;
    margin-left: 150px;
}
.navbar span i{
 position: relative;
 left: 362px;
 top: -10px;
 font-size: 16px;
 background-color: #01411C;
 color: #fff;
 padding: 7px;
 border-radius: 100%;
 margin: 3px;
}
.bx-phone-call{
    float: right;
    position: relative;
    right: 560px;
    top: 17px;
    font-size: 23px;
}
 .bxx-phone-call{
    position: relative;
    display: block;
    color: #01411C;
    left: 420px;
   bottom: 6px;
    font-size: 16px;
    padding-right: 35px;
    border-right: 1px solid rgb(204, 195, 195);
}
.email{
   float: right;
   margin-right: 60px;
   margin-top: 10px;
}
.bx-envelope{
    float: right;
    position: relative;
    right: 225px;
    top: 17px;
    font-size: 23px;
}


.by{
   width: 37%;
   margin: auto;
   margin-top: 50px;
  
}

.wapper{
    width: 100%;
    height: 110%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(241, 236, 236);
    box-shadow: 1px 1px 1px 1px #b4b0b0;
}

.ehunr-img img{
    width: 140px;
    height: 50px;
    margin-left: 150px;
    margin-top: 14px;
}

.ehunr-img h4{
    text-align: center;
    margin-top: 8px;
}

.wapper h3{
  text-align: center;
  background-color: #123214;
  color: #fff;
  padding: 17px;
  border-radius: 3px;
}

.wapper .input-box{
    position: relative;
    width: 95%;
    height: 50px;
    margin: 50px 11px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    margin: 10px 0;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid rgb(219, 214, 214);
    border-radius: 5px;
    font-size: 16px;
    color: #444141;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: rgb(124, 107, 107);
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 100%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember-forgot{
    display: flex;
    float: right;
    margin-top: 40px;
    margin-right: 20px;
}

.remember-forgot a{
    text-decoration: none;
    color: rgb(85, 81, 81);
}

.remember-forgot a:hover{
    color: rgb(66, 66, 197);
}

.register-link{
    margin-top: 40px;
    margin-left: 10px;
}

.register-link p a{
    color: #444141;
}

.wapper .btn button{
    width: 180px;
    height: 37px;
    margin: 3% 33% ;
    background-color: #01411C;
    border-radius: 50px;
    color: #fff;
    font-weight: 300;
    font-size:16px;
    border: none;
    cursor: pointer;
}

.wapper .btn button:hover{
    background-color: #E89001; 
    transition: all 0.20s ease-in;
    transition-delay: 0.15s;
}

.back a{
    font-size: medium;
    color: #444141;
    text-decoration: none;
}

.back a:hover{
    color: rgb(66, 66, 197);
}
.end{
    background-color: #002603;
    border-radius: 2px;
    margin-top: 120px;
}
.end h3{
    color: #fff;
    text-align: center!important;
    padding: 14px;
}
/* width */
::-webkit-scrollbar {
    width: 13px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #002603; 
  }